.character-wrap {
  width: 45.5vw;
  border-radius: 16rpx;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 24rpx;
}

.character-logo {
  width: 45.5vw;
  height: 45.5vw;
}

.character-text {
  padding: 0 16rpx 16rpx;
}

.character-name {
  font-weight: bold;
}

.character-desc {
  font-size: small;
  color: gray;
}
